<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %c{1}.%M() - %msg%n"/>
        </Console>

        <!-- File Appender -->
        <File name="FileLogger" fileName="logs/test-execution.log" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %c{1}.%M() - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="com.Vcidex.StoryboardSystems.Purchase.Factory" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="INFO">
            <!-- Console will get INFO+, File will get INFO+ -->
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>
    </Loggers>
</Configuration>